<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Login</h1>
    <ion-input [(ngModel)]="loginEmail" placeholder="Email" class="input-field"></ion-input>
    <ion-input [(ngModel)]="loginPassword" placeholder="Password" type="password" class="input-field"></ion-input>
    <ion-button (click)="login()" class="login-button">Login</ion-button>
    <ion-button (click)="navigateToRegister()" class="register-button">Register</ion-button>

  </div>
</ion-content>
