<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Aplicación de Tareas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-input [(ngModel)]="newTodoTitle" placeholder="Título"></ion-input>
    <ion-input [(ngModel)]="newTodoDescription" placeholder="Descripción"></ion-input>
    <ion-button (click)="addTodo()">Añadir Tarea</ion-button>
    <h2> Tareas actuales </h2>
    <div *ngFor="let todo of todos">
      <p>{{ todo.title }}: {{ todo.description }}</p>
      <ion-button (click)="removeTodo(todo.id)">Remove</ion-button>
    </div>
  </div>
</ion-content>