<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Aplicación de Perritos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="ion-padding-vertical">
    <ion-input [(ngModel)]="newTodoTitle" placeholder="Raza" class="input-field"></ion-input>
    <ion-input [(ngModel)]="newTodoDescription" placeholder="Descripción" class="input-field"></ion-input>
    <ion-button (click)="addTodo()" class="add-button">Añadir Perrito</ion-button>
    </div>
    <h2> Listados Perritos </h2>
    <div *ngFor="let todo of todos | async" class="todo-item">
      <p>Raza: {{ todo.title }}</p>
      <p>Descripción: {{ todo.description }}</p>
      <p>Dirección: {{ todo.direction }}</p>
      <ion-img [src]="todo.avatar" class="todo-image"></ion-img>
      <ion-button (click)="removeTodo(todo.id)">Remove</ion-button>
    </div>
  </div>
</ion-content>
